@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background: #0b1720;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0b1720;
}

::-webkit-scrollbar-thumb {
  background: #30424e;
  border-radius: 10px;
}